.EventPage-Mainblock {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.Mainblock-Upper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-height: 40px;
  width: 90%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.Mainblock-Upper #left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.Mainblock-Upper #left-inner {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.Mainblock-Upper #left-inner:hover {
  cursor: pointer;
  color: #858585;
}

.Mainblock-Upper #center {
  display: flex;
  flex: 1;
  justify-content: center;
}

.Mainblock-Upper #right {
  display: flex;
  height: 10%;
  justify-content: flex-end;
}

.Mainblock-Table {
  display: flex;
  height: 370px;
  width: 90%;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
}

.Mainblock-Lower {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-height: 40px;
  width: 100%;
  padding: 0px 20px 0px 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.Mainblock-Lower #left {
  display: flex;
  flex: 0.2;
  justify-content: flex-start;
  flex-direction: column;
}

.Mainblock-Lower #center {
  display: flex;
  flex: 0.6;
  justify-content: center;
  gap: 25px;
}

.Mainblock-Lower #center-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Mainblock-Lower #right {
  display: flex;
  flex: 0.2;
  justify-content: flex-end;
}

.Modal-Table {
  height: 300px;
  width: 900px;
  overflow-y: "auto";
}

.Modal-PayerBlock {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.Modal-MiddleTitles {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.Modal-MiddleTitles #middle {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.Modal-MiddleTitles #left {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.Modal-MiddleTitles #right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

/* Custom scrollbar styles */
.Mainblock-Table::-webkit-scrollbar {
  width: 2px;
}

.Mainblock-Table::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.Mainblock-Table::-webkit-scrollbar-thumb {
  background: #888;
}

.Mainblock-Table::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Modal-Table::-webkit-scrollbar {
  width: 2px;
}

.Modal-Table::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.Modal-Table::-webkit-scrollbar-thumb {
  background: #888;
}

.Modal-Table::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom scrollbar styles end */
